root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 100
indent_size = 4
trim_trailing_whitespace = true

[*.{cpp,hpp,c,h,mm}]
ij_c_indent_namespace_members = 0
