<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.plugin.gast"
    android:versionCode="2700"
    android:versionName="0.27.0">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="30" />

    <application>

        <meta-data
            android:name="org.godotengine.plugin.v1.gast-core"
            android:value="org.godotengine.plugin.gast.GastManager" />
    </application>

</manifest>
