<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.plugin.gast">

    <!-- Oculus Quest hand tracking -->
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <!-- Enable overlay keyboard -->
    <uses-feature android:name="oculus.software.overlay_keyboard"
        android:required="false" />

    <application>
        <!-- Records the version of the Gast XRApp framework -->
        <meta-data
            android:name="org.godotengine.plugin.gast.xrapp.version"
            android:value="${gastXRAppVersion}" />

        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0"/>
    </application>

</manifest>
